@import url('https://fonts.googleapis.com/css?family=Source Serif Pro');
@import url('https://fonts.googleapis.com/css?family=Montserrat');

html, body {

margin: 0;
padding: 0;
height: 100%;
width: 100%;

}
.navbar {
    overflow: hidden;
    background-color: #333;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
}

/* Links inside the navbar */
.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
	font-family: "Source Serif Pro";
}

/* Main content */
.main {
    margin-top: 30px; /* Add a top margin to avoid content overlay */
}
.intro{
	 height: 100%;
	width: 100%;
	margin: auto;
	background: url("https://i.imgur.com/iolDbzE.jpg") no-repeat 50% 50%;
	display: table;
	background-size: cover;
	opacity: 0.95;
}
.intro . inner {
	display: table-cell;
	vertical-align: middle;
	width: 100%;
	max-width: none;
}

.content{
	max-width=500px;
	margin: 0 auto;
	text-align: center;
	padding-top: 20px;
	
}
.content h1 {
	color: #F9F3F4;
		font-size: 200%;
	font-family: "Source Serif Pro";
	padding-top: 20px;
}
#page1 {
	height:100%;
	width:100%;
	padding-top:110px;
	}
	
#page2 {
	height:50%;
	width:100%;
	padding-top:150px;
	}
	
#page3 {
	height:50%;
	width:100%;
	padding-top:150px;
	}
.h2 {
	font-family: 'Source Serif Pro', sans-serif;
	line-height:50%;
	margin: 10%;
	padding-top: 150px;
}
p {
	
font-size: 120%;
	line-height:100%;
	margin-left: 4cm;
	font-family: 'Source Serif Pro';
	p.small {
    line-height: 0.5;
}
	padding-top: 20px;
}

p {
	
font-size: 120%;
	line-height:100%;
	margin-left: 4cm;
	font-family: 'Source Serif Pro';
	p.small {
    line-height: 0.5;
	}
		padding=0;
}
	
p {
	
font-size: 120%;
	line-height:100%;
	margin-left: 4cm;
	font-family: 'Source Serif Pro';
	p.small {
    line-height: 0.5;
	}
		padding=0;
}
$(function(){
  $(".navbar a").click(function(e){
    e.preventDefault();
    $('html,body').scrollTo(this.hash,this.hash); 
  });
});
