@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Montserrat');

html, body {

margin: 0;
padding: 0;
height: 100%;
width: 100%;

}

.intro{
	 height: 100%;
	width: 100%;
	margin: auto;
	background: url("http://i.imgur.com/CNijEL3.jpg") no-repeat 50% 50%;
	display: table;
	background-size: cover;
	opacity: 0.85;
}
.intro . inner {
	display: table-cell;
	vertical-align: middle;
	width: 100%;
	max-width: none;
}

.content{
	max-width=500px;
	margin: 0 auto;
	text-align: center;
}
.content h1 {
	font-family: 'Roboto', sans-serif;
	color: #F9F3F4;
		font-size: 200%;
}
.btn{
	family: 'Montserrat', sans-serif;
	color: #F9F3F4;
	padding: 10px 20px; 
	text-transform: uppercase;
	text-decoration: none;
	position:top;
}
.btn:hover{
	color: #036A81;
	border: solid #036A81 3px;
	
}

.content h2 {
	font-family: 'Roboto', sans-serif;
	line-height:100%;
	text-align: justify;
	margin: 10%;
}
p {
	
font-size: 120%;
	line-height:100%;
	margin: 8%;
	font-family: 'Roboto';
	p.small {
    line-height: 0.5;
}

p {
	
font-size: 120%;
	line-height:100%;
	margin: 8%;
	font-family: 'Roboto';
	p.small {
    line-height: 0.5;
}

