@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Montserrat');

html, body {

margin: 0;
padding: 0;
height: 100%;
width: 100%;

}
.navbar {
    overflow: hidden;
    background-color: #333;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
}

/* Links inside the navbar */
.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Main content */
.main {
    margin-top: 30px; /* Add a top margin to avoid content overlay */
}
.intro{
	 height: 100%;
	width: 100%;
	margin: auto;
	background: url("http://i.imgur.com/CNijEL3.jpg") no-repeat 50% 50%;
	display: table;
	background-size: cover;
	opacity: 0.85;
}
.intro . inner {
	display: table-cell;
	vertical-align: middle;
	width: 100%;
	max-width: none;
}

.content{
	max-width=500px;
	margin: 0 auto;
	text-align: center;
	
}
.content h1 {
	color: #F9F3F4;
		font-size: 200%;
	position: relative;
top: 10px;
}
#btn{
	family: 'Montserrat', sans-serif;
	color: #F9F3F4;
	padding: 10px 20px; 
	text-transform: uppercase;
	text-decoration: none;
	top: 0;
	left: 4;
	position:top;
}

#btn1{
	family: 'Montserrat', sans-serif;
	color: #F9F3F4;
	padding: 10px 20px; 
	text-transform: uppercase;
	text-decoration: none;
	top: 0;
	left: 3;
	position:fixed;
}

#btn2{
	family: 'Montserrat', sans-serif;
	color: #F9F3F4;
	padding: 10px 20px; 
	text-transform: uppercase;
	text-decoration: none;
	top: 0;
	left: 2;
	position:fixed;
}

#btn3{
	family: 'Montserrat', sans-serif;
	color: #F9F3F4;
	padding: 10px 20px; 
	text-transform: uppercase;
	text-decoration: none;
	position:top;
}
.h2 {
	font-family: 'Roboto', sans-serif;
	line-height:100%;
	margin: 10%;
}
p {
	
font-size: 120%;
	line-height:100%;
	margin: 8%;
	font-family: 'Roboto';
	p.small {
    line-height: 0.5;
}

p {
	
font-size: 120%;
	line-height:100%;
	margin: 8%;
	font-family: 'Roboto';
	p.small {
    line-height: 0.5;
}

