@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Oswald');

html, body {

margin: 0;
padding: 0;
height: 100%;
width: 100%;

}

.intro{
	height: 100%;
	width: 100%;
	margin: auto;
	background: url("http://cdn2-www.dogtime.com/assets/uploads/gallery/30-impossibly-cute-puppies/impossibly-cute-puppy-8.jpg") no-repeat 50% 50%;
}